@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  color: #fff;
  background-color: #000;
  font-family: montserrat;
}
.scene {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.magic {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url('/assets/about-us.png') center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  z-index: -1;
}

@layer utilities {
  .container {
    @apply mx-auto px-4;
  }
}
